{% extends "layout.html" %}
{% include "navbar.html" %}
{% include "subcat.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
{% endblock %}

{% block body %}

<!-- Image for E-commerce -->
<div class="p-3 mb-2 bg-light">
    <img class="image_fluid mx-auto d-block img-fluid" src="{{ url_for('static', filename='images/index_image.jpg')}}" alt="Chania">
</div>
<!-- End of Image -->

<!-- Category Cards -->
<br><br>
<div class="card-deck mx-auto .ml-5">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
<!-- End of Cards -->

{% endblock %}