{% extends "layout.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">eCommerce</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/category/Clothing_and_Accessories">Clothing and Accesories</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/category/Software_Apparels">Software Apparels</a>
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>

        <li class="nav-item">
            <!-- <a class="nav-link" href="#">Cart</a> -->

            <a class="link" href="/cart">
              <img src=" {{ url_for('static', filename='images/shoppingCart.png')}}" id="cartIcon" />
              {{noOfItems}} items
            </a>
          </li>

      </ul>
      
    </div>
  </nav>

{% endblock %}